@tailwind base;
@tailwind components;
@tailwind utilities;


/* .App {
    text-align: center;
    padding: 20px;
  }
  
  .connection-status {
    margin: 20px 0;
  }
  
  .status-connected {
    color: green;
  }
  
  .status-disconnected {
    color: red;
  }
  
  .notification-list {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
  } */
  